<h3>会社 一覧</h3>

<div class="table-actions mb-2 text-end">
  <%= link_to "新規作成", new_company_path, class: "btn btn-primary" %>
</div>

<table data-model="companies" class="display">
  <%# 側だけつくる。指定したidに反応するjsがtableの中身を作ってくれる %>
</table>