<div class="listings">
  <div class="listings_channels">
    <h2 class="listings_header">一覧</h2>
    <ul class="channel_list">
      <%= sidebar_link_item('会社一覧', companies_path) %>
      <%= sidebar_link_item('業界一覧', '#') %>
      <%= sidebar_link_item('自己分析', '#') %>
    </ul>
  </div>
</div>
