<div class="sidebar">
  <div class="sidebar_channels">
    <h2 class="sidebar_header">一覧</h2>
    <ul class="sidebar_list">
      <%= sidebar_link_item("#{Company.human_model_name}一覧", companies_path) %>
      <%= sidebar_link_item("#{Industry.human_model_name}一覧", industries_path) %>
      <%= sidebar_link_item("#{Event.human_model_name}一覧", events_path) %>
      <%= sidebar_link_item("#{EntrySheet.human_model_name}一覧", entry_sheets_path) %>
    </ul>
  </div>
</div>
